export OS_AUTH_URL=http://controller:35357/v2/
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=myproject
export OS_PROJECT_DOMAIN_NAME=default
export OS_USERNAME=admin
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD=alta3
export OS_AUTH_URL=s
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=d
export OS_PROJECT_DOMAIN_NAME=f
export OS_USERNAME=
export OS_USER_DOMAIN_NAME=g
export OS_PASSWORD=d
